In [3]:
#import necessary packages
import numpy as np
import math
import matplotlib.pyplot as plt
from scipy.stats import norm
from pandas_datareader import data
import pandas as pd

In [4]:
#download Apple price data into DataFrame

def price_ite(symbol):
    price_now = data.DataReader(symbol, 'yahoo',start='5/6/2010',end ='5/7/2010') # AA    
    price_now = price_now.resample('1Min').ffill()
    
    for i in price_now:
        price_now['AskPrice-OO'] = price_now['High']
        price_now['AskVolume-OO'] = price_now['Volume']
        price_now['BidPrice-OO'] = price_now['Low']
        price_now['BidVolume-OO'] = price_now['Volume']
        
    return price_now

price1 = price_ite('ABB')#AA
''''
price2 = price_ite('AAPL')#BB
price3 = price_ite('GE') #CC
price4 = price_ite('AAU') #DD
price5 = price_ite('ABEV') #EE
price6 = price_ite('ABC') # FF
price7 = price_ite('A') #GG
price8 = price_ite('AA') #HH
price9 = price_ite('AAL') # II
price10 = price_ite('AAME') # KK
price11 = price_ite('ABCB') # LL
price12 = price_ite('AAON') # MM
price13 = price_ite('AAP') # MM
price14 = price_ite('AB') # NN
price15 = price_ite('ABB') # OO
'''

all_price = print(price1)
#price2,price3,price4,price5,price6,price7,price8,price9,price10,price11,price12,price13,price14,price15])

                      High        Low       Open      Close    Volume  \
Date
2010-05-06 00:00:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 00:01:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 00:02:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 00:03:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 00:04:00  18.59  16.799999  18.379999  17.700001   7278900
...                    ...        ...        ...        ...       ...
2010-05-06 23:56:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 23:57:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 23:58:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-06 23:59:00  18.59  16.799999  18.379999  17.700001   7278900
2010-05-07 00:00:00  18.23  17.280001  18.070000  17.440001  12946600

                     Adj Close  AskPrice-OO  AskVolume-OO  BidPrice-OO  \
Date
2010-05-06 00:00:00  12.073402        18.59       7278900    16.799999
2010-05-06 00:01:00  12.073402        18.59       7278900    16.799999
2010-05-06 00:02:00  12.073402        18.59       7278900    16.799999
2010-05-06 00:03:00  12.073402        18.59       7278900    16.799999
2010-05-06 00:04:00  12.073402        18.59       7278900    16.799999
...                        ...          ...           ...          ...
2010-05-06 23:56:00  12.073402        18.59       7278900    16.799999
2010-05-06 23:57:00  12.073402        18.59       7278900    16.799999
2010-05-06 23:58:00  12.073402        18.59       7278900    16.799999
2010-05-06 23:59:00  12.073402        18.59       7278900    16.799999
2010-05-07 00:00:00  11.896053        18.23      12946600    17.280001

                     BidVolume-OO
Date
2010-05-06 00:00:00       7278900
2010-05-06 00:01:00       7278900
2010-05-06 00:02:00       7278900
2010-05-06 00:03:00       7278900
2010-05-06 00:04:00       7278900
...                           ...
2010-05-06 23:56:00       7278900
2010-05-06 23:57:00       7278900
2010-05-06 23:58:00       7278900
2010-05-06 23:59:00       7278900
2010-05-07 00:00:00      12946600

[1441 rows x 10 columns]

In [212]:
#print(market_data)
#market_data = voladata.loc[:,['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'JJ', 'KK', 'LL', 'MM', 'NN', 'OO']]
price1.to_csv("opp.csv")

In [ ]:
###########################################################

In [49]:
Date = pd.date_range(start='6/5/2010', end='7/5/2010') 
df = pd.DataFrame([price_list],index=Date)

In [50]:
#Drop columns
df.dropna(axis = 1)
#df.index.name = 'date'
voladata = df.rename(columns={0: "BidPrice-AA", 1: "BidVolume-AA",2: "AskPrice-AA", 3: "AskVolume-AA",
                                4: "BidPrice-BB", 5: "BidVolume-BB",6: "AskPrice-BB", 7: "AskVolume-BB",
                                8: "BidPrice-CC", 9: "BidVolume-CC",10: "AskPrice-CC", 11: "AskVolume-CC",
                                12: "BidPrice-DD", 13: "BidVolume-DD",14: "AskPrice-DD", 15: "AskVolume-DD",
                                16: "BidPrice-EE", 17: "BidVolume-EE",18: "AskPrice-EE", 19: "AskVolume-EE",
                                20: "BidPrice-FF", 21: "BidVolume-FF",22: "AskPrice-FF", 23: "AskVolume-FF",
                                24: "BidPrice-GG", 25: "BidVolume-GG",26: "AskPrice-GG", 27: "AskVolume-GG",
                                28: "BidPrice-HH", 29: "BidVolume-HH",30: "AskPrice-HH", 31: "AskVolume-HH",
                                32: "BidPrice-II", 33: "BidVolume-II",34: "AskPrice-II", 35: "AskVolume-II",
                                36: "BidPrice-JJ", 37: "BidVolume-JJ",38: "AskPrice-JJ", 39: "AskVolume-JJ",
                                40: "BidPrice-KK", 41: "BidVolume-KK",42: "AskPrice-KK", 43: "AskVolume-KK",
                                44: "BidPrice-LL", 45: "BidVolume-LL",46: "AskPrice-LL", 47: "AskVolume-LL",
                                48: "BidPrice-MM", 49: "BidVolume-MM",50: "AskPrice-MM", 51: "AskVolume-MM",
                                52: "BidPrice-NN", 53: "BidVolume-NN",54: "AskPrice-NN", 55: "AskVolume-NN",
                                56: "BidPrice-OO", 57: "BidVolume-OO",58: "AskPrice-OO", 59: "AskVolume-OO"}) #rename column
#voladata.columns = [voladata.columns.str[-2:], voladata.columns.str[:-3]]  # arrenge the column

# Show the Stocks
stock_names = list(voladata.columns.get_level_values(0).unique())
print('The stocks available are',stock_names)

The stocks available are ['BidPrice-AA', 'BidVolume-AA', 'AskPrice-AA', 'AskVolume-AA', 'BidPrice-BB', 'BidVolume-BB', 'AskPrice-BB', 'AskVolume-BB', 'BidPrice-CC', 'BidVolume-CC', 'AskPrice-CC', 'AskVolume-CC', 'BidPrice-DD', 'BidVolume-DD', 'AskPrice-DD', 'AskVolume-DD', 'BidPrice-EE', 'BidVolume-EE', 'AskPrice-EE', 'AskVolume-EE', 'BidPrice-FF', 'BidVolume-FF', 'AskPrice-FF', 'AskVolume-FF', 'BidPrice-GG', 'BidVolume-GG', 'AskPrice-GG', 'AskVolume-GG', 'BidPrice-HH', 'BidVolume-HH', 'AskPrice-HH', 'AskVolume-HH', 'BidPrice-II', 'BidVolume-II', 'AskPrice-II', 'AskVolume-II', 'BidPrice-JJ', 'BidVolume-JJ', 'AskPrice-JJ', 'AskVolume-JJ', 'BidPrice-KK', 'BidVolume-KK', 'AskPrice-KK', 'AskVolume-KK', 'BidPrice-LL', 'BidVolume-LL', 'AskPrice-LL', 'AskVolume-LL', 'BidPrice-MM', 'BidVolume-MM', 'AskPrice-MM', 'AskVolume-MM', 'BidPrice-NN', 'BidVolume-NN', 'AskPrice-NN', 'AskVolume-NN', 'BidPrice-OO', 'BidVolume-OO', 'AskPrice-OO', 'AskVolume-OO', 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252]

In [55]:
price= voladata.resample('5Min').ffill()
price

,BidPrice-AA,BidVolume-AA,AskPrice-AA,AskVolume-AA,BidPrice-BB,BidVolume-BB,AskPrice-BB,AskVolume-BB,BidPrice-CC,BidVolume-CC,...,243,244,245,246,247,248,249,250,251,252
2010-06-05 00:00:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-06-05 00:05:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-06-05 00:10:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-06-05 00:15:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-06-05 00:20:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-07-04 23:40:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-07-04 23:45:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-07-04 23:50:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-07-04 23:55:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218
2010-07-05 00:00:00,30.622002,30.569873,32.29824,31.553142,31.387808,32.189438,32.229299,34.095782,34.709182,35.286624,...,41.585022,40.896262,42.267614,39.893532,37.707161,37.911277,40.470945,40.240667,38.468141,39.137218